body {
	display: inline;
	height: 45px;
}
.header {
	width: 100%;
	height: 45px;
	display: block;
	background-color: #0769CC;
	border-radius: 6px 6px 8px 8px;
}
.header #main-links {
	display: inline;
	float: left;
	list-style-type: none;
	margin-left: 19px;
}
.header #main-links li {
	display: inline;
	float: left;
	width: 81px;
	margin-right: 29px;
}
.header h1 a {
	text-decoration: none;
	color: #FFFFFF;
}
.header #main-links li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bolder;
}
.container {
	height: 570px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}
.container .login {
	width: 260px;
	height: 341px;
	padding-top: 19px;
	padding-right: 19px;
	padding-bottom: 19px;
	padding-left: 19px;
	display: inline-block;
	background-color: #F5F5F5;
	border: thin solid #E4E4E4;
	margin-top: 20px;
	margin-left: 20px;
}
.container .login .reg-header {
	display: block;
	width: 259px;
	height: 25px;
	padding-top: 5px;

}
.container .login .reg-header h3 {
	display: inline;
	float: left;
	width: 75px;
	height: 23px;
}
.container .login .reg-header .switch {
	display: inline;
	width: 159px;
	height: 62px;
	margin-left: 82px;
}
.container .login .reg-header label {
	display: inline;
}
.container .login .signin {
	display: inline-block;
	margin-top: 16px;
}
.container .login .signin #login_form label {
	display: block;
	margin-bottom: 2px;
}
.container .login .signin #login_form #username {
	width: 260px;
	height: 40px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	display: block;
}
.container .login .signin #login_form #password {
	display: block;
	width: 260px;
	height: 45px;
}
.container .login .signin #login_form #rememberMe {
	display: inline;
}
.container .login .signin #login_form .checkbox-text {
	display: inline-block;
}
.container .login .signin #login_form #login {
	display: block;
}
.container .login .signin .resetpassword {
	display: block;
	margin-top: 10px;
}
.login .signin #login_form #login {
	display: block;
	width: 110px;
	height: 45px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 1px;
	background-color: #5B9E23;
	border: thin solid #4A811C;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bolder;
}
.footer {
	display: block;
	float: left;
	width: 100%;
}
.footer #second-links {
	display: block;
	width: 99%;
	float: left;
}
.footer #second-links li {
	display: inline;
	position: static;
	margin-left: 241px;
}
.header .logo {
	width: 70px;
	display: block;
	height: 45px;
	float: left;
	font-size: 24px;
	line-height: 50px;
}
