.header {
	width: 100%;
	height: 45px;
	display: block;
	background-color: #0769CC;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-image: -webkit-linear-gradient(270deg,rgba(7,105,204,1.00) 0%,rgba(5,82,163,1.00) 21.24%);
	background-image: -moz-linear-gradient(270deg,rgba(7,105,204,1.00) 0%,rgba(5,82,163,1.00) 21.24%);
	background-image: -o-linear-gradient(270deg,rgba(7,105,204,1.00) 0%,rgba(5,82,163,1.00) 21.24%);
	background-image: linear-gradient(180deg,rgba(7,105,204,1.00) 0%,rgba(5,82,163,1.00) 21.24%);
}
.wall{
    width:960px; margin:auto;
}

.header .headercenter {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 45px;
}
.header .headercenter .logout {
	width: 100px;
	display: block;
	float: right;
	margin-top: 12px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .headercenter .Page-Indicator {
	width: 150px;
	display: block;
	float: left;
	margin-top: 12px;
	color: #FFFFFF;
	font-size: 16pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.container {
	width: 960px;
	height: 550px;
	display: block;
	margin-top: 15px;
}
.container .contact {
	width: 400px;
	height: 230px;
	display: block;
	float: left;
	margin-left: 55px;
	border: 2px solid #B6B6B6;
}
.container .contact .section-name {
	width: 55px;
	height: 140px;
	display: block;
	float: left;
	padding-top: 10px;
	margin-left: 10px;
}
.container .contact .textTitle {
	display: block;
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}
.container .contact .textinput {
	display: block;
	height: 25px;
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}
.container .account {
	display: block;
	float: left;
	width: 400px;
	margin-left: 50px;
	height: 230px;
	border: 2px solid #B6B6B6;
}
.container .account .section-name {
	width: 66px;
	height: 190px;
	display: block;
	float: left;
	padding-top: 10px;
	margin-left: 10px;
}
.container .account .textinput {
	display: block;
	height: 25px;
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

.container .account .textTitle {
	display: block;
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}
.container input.button {
	width: 120px;
	margin-top: 0px;
	height: 30px;
	display: block;
	float: left;
	margin-top: 40px;
}
.container #Save {
	width: 130px;
	margin-left: 55px;
	margin-top: 50px;
	height: 33px;
	display: block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #7D7D7D;
	background-color: #33A0EC;
	color: #FDFCFC;
	font-weight: 400;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-image: -moz-linear-gradient(center top , rgb(59, 170, 244), rgb(35, 137, 220)) repeat scroll 0% 0% transparent;
	border-width: 1px;
	border-top-width: 1px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-style: solid;
	border-top-style: solid;
	border-right-style-value: solid;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right: 1px solid rgb(28, 116, 179);
	border-right-width-value: 1px;
	border-right-style-value: solid;
	border-right-color-value: rgb(28, 116, 179);
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-left: 1px solid rgb(28, 116, 179);
	border-left-width-value: 1px;
	border-left-style-value: solid;
	border-left-color-value: rgb(28, 116, 179);
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-color: rgb(44, 142, 209) rgb(28, 116, 179) rgb(13, 91, 151);
	border-top-color: rgb(44, 142, 209);
	border-right-color-value: rgb(28, 116, 179);
	border-bottom-color: rgb(13, 91, 151);
	border-left-color-value: rgb(28, 116, 179);
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	font-size: 10pt;
}
.container #Cancel {
	width: 130px;
	margin-left: 40px;
	margin-top: 50px;
	height: 33px;
	-webkit-box-shadow: 0px 1px 1px #ADADAD;
	box-shadow: 0px 1px 1px #ADADAD;
	display: block;
	background-color: #F4F4F4;
	border-width: 1px;
	border-color: #F4F4F4;
	color: #403F3F;
	font-weight: 500;
	border-radius: 4px;
}
